# Vscode config files
.vscode

# Old code that I don't wanna throw away but that should never see the light of day again
archive/

# All local json files aren't useful/are generated
*.json

# Secret
apikey

# Generic blanket ignoring
*.private.*
*.private/
